.markmap-container{
    display: flex; 
    justify-content: center; 
    margin:0 auto;
    width:90%;
    height:500px;
}
.markmap-container svg {
    width:100%;
    height:100%;
}

@media (max-width:768px) {
    .markmap-container{
        height:400px;
    }

}